body{
	margin: 0;
	padding: 0;
	background: url(../Imagenes/Paisaje.jpg) no-repeat center top;
	background-size: cover;
	font-family: sans-serif;
	height: 100vh;
}

.subire input[type = "submit"]{
	left: 690px;
	top: 400px;
	width: 100px;
	margin-bottom: 20px;
	position: absolute;
}

.subire input[type = "text"]{
	left: 200px;
	top: 400px;
	width: 200px;
	margin-bottom: 20px;
	position: absolute;
}

.subire input[type = "file"]{
	left: 423px;
	top: 400px;
	width: 300px;
	margin-bottom: 20px;
	position: absolute;
	color: transparent;
}

.subire label{
	position: absolute;
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
	font-size: 50px;
	left: 305px;
	color: red;
}

.subire table{
	position: absolute;
	margin: 0;
	padding: 0;
	font-weight: bold;
	display: block;
	font-size: 50px;
	left: 310px;
	top: 60px;
	color: white;
}

.subire input[type = "submit"]{
	position: relative;
	top: 379px;
	left: 600px;
	border: 0px;
	outline: none;
	width: 250px;
	height: 60px;
	background: red;
	color: #fff;
	font-size: 25px;
	font-weight:bold;
	font-family:Verdana,Helvetica;
	border-radius: 100px;	
}

.Imagenes input[type = "button"]{
	position: relative;
	top: -60px;
	left: 3px;
	border: 0px;
	outline: none;
	width: 250px;
	height: 60px;
	background: blue;
	color: #fff;
	font-size: 25px;
	font-weight:bold;
	font-family:Verdana,Helvetica;
	border-radius: 100px;
}

.Perfil input[type = "button"]{
	position: relative;
	top: -115px;
	left: 820px;
	border: 0px;
	outline: none;
	width: 250px;
	height: 60px;
	background: red;
	color: #fff;
	font-size: 25px;
	font-weight:bold;
	font-family:Verdana,Helvetica;
	border-radius: 100px;
}